<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moody Music ♫</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/websitelogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    
</head>

<body>
    <div class="container">

        <div class="explore-container">
            <div class="side-bar-toggle">
                <button id="toggleSideBar"><img src="../static/images/menuimg.png" alt="Menu Logo"></button>
                </div>
                <div id="sideBarContainer">
                <div class="side-bar-activities login"><p id = "loginToggle">Login <img src="../static/images/login_icon.webp" alt="login icon" height="17.5" width="17.5"></p> <p class="hidden" id = "logout">Logout <img src="../static/images/login_icon.webp" alt="login icon" height="17.5" width="17.5"></p><div id="loginForm" class="hidden">
                    <form action="/login" method="post">
                        <input id = "emailField" type="email" placeholder="Email Address" name="email" value="{{
                            request.form.email }}">
                         <input type="password" placeholder="Password" name="password" value="{{
                          request.form.password }}">
                          <input class="hidden" id="confirmPasswordField" type="password" placeholder="Confirm Password" name="confirmPassword" value="{{
                            request.form.confirmPassword }}">
                        <input id="submitLogin" class="btn btn-default" type="submit" value="Login">
                        <input id="createAccount" class="hidden btn btn-default" type="submit" value="Create Account">
                      </form>
                      <button id ="newAccount" class="btn">New Account</button>
                      <div class="response"><p></p></div>
                </div>
               </div>
               
                <div class="side-bar-activities past-chat"><p id="pastChats">Past Chats <img src="../static/images/past-chat.webp" alt="login icon" height="17.5" width="17.5"></p></div>
                <div class="side-bar-activities"><p>How To <img src="../static/images/how-to.webp" alt="login icon" height="17.5" width="17.5"></p></div>
            </div>
        </div>
        <!-- <div class="side-bar-toggle">
        <button id="toggleSideBar">></button>
        </div> -->
        <div class="chat-container">
         <h1><img id="logo" src="../static/images/websitelogo.png" alt="Website Logo"></h1>
            <div class="message-area">
                <div id="outputArea">
                    
                    <ul>
                        <li class = "space"><br></li>
                    </ul>
                </div>
                <div id = "userMessage">
                    <ul></ul>
                </div>
            </div>
                
            <div class="input-container">
                <input type="text" id="textInput" placeholder="How are you feeling?">
                <button id="predictButton">Enter</button>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='user.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>

</html>
