body {
    font-family: "EB Garamond", serif;
    background-color: #faf3ea;
    margin: 0;
    height: 100%;
    overflow: hidden;
    padding: 0;
    color: #023020;
    box-sizing: border-box;
        font-size: larger;
    /* height: 100vh;
    max-height: 100vh; */
    max-width: 100%;
}

h1{
    text-align: center;
    font-weight: lighter
}

li{
    list-style-type: none;
    margin: 1em;
    text-align: left !important;
}

li div{
    border-radius: 1em;
    padding: 0 0.5em 0 0.2em;
    width: 75%;
}

  .choices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .choice {
    width: 50%;
    display: inline-block;
    padding: 0.75em;
    margin: 0.5em;
    border: none;
    background-color: #e6d7ff;
    border-radius: 0.5em;
    text-align: center;
  }

  .choice:hover{
    background-color: skyblue;
  }
    button:hover:not([enabled="enabled"]) {
    background-color: #e6d7ff;
    }



a{
    color: #056846;
}

.side-bar-activities{
   margin-left: 1em;
   width: 10em;
    padding-bottom: 2em;
}
img{
    vertical-align: middle;
    margin-bottom: 0.1em;
    width: 1.75em;
    height: 1.75em;
}

#logo{
    width: 3.5em;
    height: 1.5em;
}
/* a:hover{
    color: #301934;
} */
/* img{
    padding-top: 0.2em;
} */
.container {
    display: flex;
    justify-content: wrap;
    margin: 0.5em auto;

    min-height: 100vh !important;
     width: auto;
}

.chat-container {
    align-items: center;
    background-color: #faf3ea;
    border-bottom: 0.01em solid #023020;
    width: 100%;
    box-sizing: border-box;
    padding: 0em 7.5em 0em 7.5em;
    font-size: larger;
    min-height: 100vh;

     /* max-height: 97%; */

}

.explore-container {
    background-color: #faf3ea;
    max-width: 24%;
    padding-top: 2em;
    border-right: 0.01em solid #023020;
    border-bottom: 0.01em solid #023020;
    box-sizing: border-box;
    /* min-height: fit-content; */
}

.hidden{
    display: none;
}

input{
    border: 0.1em solid #faf3ea;
    border-radius: 0.6em;
    padding: 0.5em;
    margin-top: 0.5em;
}

.btn{
    background-color: #023020;
    color: white;
    border-radius: 1em;
    margin-top: 0.5em ;
    padding: 0.5em;
}

.btn:hover{
    background-color: #023020 !important;
}


.input-container {
    text-align: center;
    align-self: center;
    padding: 0.5em 0.5em;
}

.message-area{
    min-height: 20em;
    max-height: 20em;
    align-items: center;
    border-radius: 2em;
    width: 50em;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width:thin;
    /* scrollbar-width: none */
}
.pastChatUl{
    padding: 0em;
}
.previous-chat{
    background-color:#ebdbc6 ;
    border-radius: 1em;
    padding: 1em;
}
#outputArea{
    /* align-self: flex-start; */
    margin-top: 1em;
    /* height: 100%; */
    width: 49%;
    padding-left: 0.5em;
    display: inline-table;
    /* font-family: "Rouge Script", cursive; */
}
#outputArea ul {
    padding-left: 3em;
}


span{
    width: 95%;
}

#userMessage{
    /* align-self: flex-end; */
    display: inline-table;
    text-align: left;
    margin-left: 2em;
    width: 30%;
    padding-left: 0.75em;

}


#textInput {
    width: 25em;
    padding: 1em;
    margin-right: 0.8em;
    border: 0.1em solid #faf3ea;
    border-radius: 0.6em;
}

#predictButton {
    padding: 0.8em;
    cursor: pointer;
    background-color: #023020;
    border: none;
    color: #faf3ea;
    border-radius: 0.3em;
}

#predictButton:hover {
    background-color: #023020;
}
.side-bar-toggle{
    display: none;
}
#toggleSideBar{
    display: none;
}

.past-chat ul {
    overflow-y: scroll;
    scrollbar-width:thin;
    max-height: 10em;
}
.space{
    padding-bottom:0em ;
    margin: 0;
    background-color:#faf3ea ;
}
@media only screen and (max-width: 1000px) {
    .chat-container{
        padding: 0;
    }
}
@media only screen and (max-width: 600px) {
    body{
        font-size: small;
    }

    #userMessage li{
        max-width: 2em;
    }
    .container{
        margin: 0;
    }
    input{
        width: 90% ;
        height: 0.5em;
    }
    .previous-chat{
        background-color:#cdb9ed ;
        border-radius: 1em;
        padding: 1em;
    }
    .btn{
        font-size: smaller;
        height: 2.2em;
        margin: 0.2em;
        padding: 0.5em;
    }

    .explore-container{
        border: none;
        max-width:0%;
        width: 0%;
        background-color: transparent;
        position: absolute;
        z-index: 333;
        min-height: 100vh;
    }
    .side-bar-toggle{
        margin-top: 0.5em;
        display: block;
        margin-left: 0.5em;
    }

    #toggleSideBar{
        display: block;
        border-radius: 0.75em;
        background-color: transparent;
        border: none;
    }
    #sideBarContainer{
        display: none;

    }

    ul{
        padding-left: 0.2em;
        margin-left: 0.2em;
    }
    .input-container{
        margin-top: 1em;
    }
    .message-area{
        width: 20em;
        padding: 2.5em;
        min-height: 25em;
    }
    .chat-container{
        padding: 0 0.5em;
        border: none;
    }
    #textInput{
        max-width: 12em;
        padding: 0.5em
    }
    #predictButton{
        padding: 0.5em;
    }
    #outputArea{
        margin-top: 3em;
        padding: 0.225em;
        margin-left: 0;
        width: 55%;
        margin-top: 1em ;    }

        #outputArea ul {
            padding-left: 0em;
            margin-left: 0em;
        }

        #userMessage{
            margin-left: 0.2em;
        }

    li div{
        width: 95%;
    }

    #userMessage{
        max-width: 25%;

    }
    .choice{
        width: 50%;
        display: block;
        margin: 0 auto;
        align-self: center;
        align-items: center;
        font-size: smaller;
        padding: 0.3em;
        margin: 0.4em;
        border-radius: 0.5em;
        text-align: center;
    }


  }