body {
    font-family: "EB Garamond", serif;
    background-color: #faf3ea;
    margin: 0;
    padding: 0;
    color: #023020;
    box-sizing: border-box;
    height: 100%;
    font-size: larger;
}

h1{
    text-align: center;
    font-weight: lighter
}

li{
    list-style-type: none;
    padding-bottom: 2em;
    /* background-color: bisque; */
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0.5em auto;
    padding: 0.6em;
    background-color: #faf3ea;
    width: auto;
}

.chat-container {
    align-items: center;
    background-color: #faf3ea;
    border: 0.1em solid #023020;
    width: 74%; 
    box-sizing: border-box; 
    padding: 0em 10em 0em 10em;
   
}

.explore-container {
    background-color: #faf3ea;
    width: 24%; 
    border: 0.1em solid #023020;
    box-sizing: border-box; 
}

.input-container {
    text-align: center;
    align-self: center;
    padding: 0.5em 0.5em;
}

.message-area{
    height: 25em;
    border-radius: 2em;
    /* background-color: white; */
    overflow-y: scroll;
    scrollbar-width: none
}

#outputArea{
    align-self: flex-start;
    position: relative;
    top: 1em;
    width: 66%;
    padding-left: 0.5em;
    display: inline-block;
    /* font-family: "Rouge Script", cursive; */
}



#userMessage{
    align-self: flex-end;
    display: inline-block;
    position: relative;
    width: 25%;
    
}

#textInput {
    width: 50%;
    padding: 1em;
    margin-right: 0.8em;
    border: 0.1em solid #faf3ea;
    border-radius: 0.6em;
}

#predictButton {
    padding: 0.8em;
    cursor: pointer;
    background-color: #023020;
    border: none;
    color: #faf3ea;
    border-radius: 0.3em;
}

#predictButton:hover {
    background-color: #023020;
}
